.whyus {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');

	border-radius: _size(border-radius);
	border: solid 1px _palette(border);
	background: _palette(border-bg);


	section {
		@include padding(2em, 2em);
		width: 100%;

		position: relative;

		&:nth-last-child(1){
			padding: 2em;
		}

		.icon {

		}

	}


	@include breakpoint(medium) {
		display: block;

		section {
			border-top-width: 1px !important;
			border-left-width: 0 !important;
			width: 100%;

			&:first-child {
				border-top-width: 0 !important;
			}
		}
	}

	@include breakpoint(small) {
		section {
			@include padding(2em, 1.5em);

			.icon {

			}
		}
	}

	@include breakpoint(xsmall) {
		section {
			@include padding(2em, 1.5em);

			.icon {

			}
		}
	}
}