#intro {
	background-attachment: fixed;
	background-image:	linear-gradient(to top, rgba(46, 49, 65, 0.3), rgba(46, 49, 65, 0.1)),
						url('assets/images/other/bg3.jpg');
	background-position: right bottom;
	background-size: auto 100%;
	background-repeat: no-repeat;

	text-shadow: 0.05em 0.05em 0.1em rgba(255, 255, 255, 1);


	p {
		font-size: 1.25em;

		@include breakpoint(medium) {
			br {
				display: none;
			}
		}

		@include breakpoint(small) {
			font-size: 1em;
		}
	}

	@include breakpoint(large) {
		background-attachment: scroll;
	}
}